
  <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Acciones</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Inicio</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Estatus</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Presupuestos y giros</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Cuentas Bancarias</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Cartas de Patrocinio</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Certificado Deuda</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Interacciones</a>
    <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Mi Informacion</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false"> Actualizacion de Datos</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="false"> Proyecto Apollado</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Academia</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Permanencia</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Laboral</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Codeudores</a>
    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false"> Documentos</a>
  </div>